main{
    display: grid;
    justify-items: center;
    box-sizing: border-box;
    padding: 0 5%;
}
label {
    display: block;
}

div img{
    width: 250px;
    max-width: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    box-sizing: border-box;
}
header h1{
    font-size: 30px;
    height: 30px;
}
#updateBookBtn{
    display: block;
}
#updateDetailsFormContain{
    position: relative;
}
#updateDetailsForm{
    position: absolute;
    top:-100px;
    left: 70px;
    background-color: white;
    padding: 5%;
    box-shadow: 10px 10px 10px gray;
}