<header>
    <h1>Best Books!</h1>
    <img id="menu" src="https://www.clipartmax.com/png/full/77-773806_call-610-465-white-hamburger-menu-icon-png.png"/>
    <section id="hamMenu">
        <a class="menuBtns" href="/">Return to books list</a>
        <a class="menuBtns" href="/searches/new">search for a book</a>    
    </section>
</header>
